@model Accounting.Models.ViewModels.AccountViewModel

@{
    ViewBag.Title = "我的記帳本";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    @*for DatePicker use*@
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#date").datepicker({
                altFormat: "yy-mm-dd",
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                yearRange: '1900:' + new Date().getFullYear(),
                //以下為清空月曆控制項內容後，所需的屬性與事件。
                showButtonPanel: true,
                closeText: '清除', // Text to show for "close" button
                onClose: function () {
                    var event = arguments.callee.caller.caller.arguments[0];
                    // If "Clear" gets clicked, then really clear it
                    if ($(event.delegateTarget).hasClass('ui-datepicker-close')) {
                        $(this).val('');
                        //注意:在清空內容後，若要執行change事件，需要自行指定。
                        $(this).change();
                    }
                }
            }).attr('readOnly', 'true');;
        });
    </script>
}
     <div class="well">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">類別</label>
                <div class="col-sm-10">
                    <select id="category" class="form-control">
                        <option value="" selected>請選擇</option>
                        <option>支出</option>
                        <option>收入</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="money" class="col-sm-2 control-label">金額</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="money" placeholder="金額">
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label">日期</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="date" placeholder="日期">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">備註</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="description">
                </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="submit" class="btn btn-default">送出</button>
                </div>
            </div>
        </form>
    </div>

     <div class="row">
        <div class="col-md-12">
            @Html.Action("ListAccountData")
        </div>
    </div>


